// Header text feature
.call-out {
  object-fit: cover;
  background-color: $header-desc-background-color;
  font-size: 1.2em;
  color: $header-desc-text-color;
  background-repeat: no-repeat;
  background-size: $feature-image-size;
}

.call-out p:last-child {
  margin-bottom: 0;
}

// Post listing
.posts {
  .post-teaser {
    background-size: $feature-image-size;
    p a {
      @extend .body-link;
    }

    .post-img img {
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);

      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

      -moz-transition: all 5s;
      -webkit-transition: all 5s;
      transition: all 5s;

      &:hover {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
      }
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
